#Header {
    height: 20px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    -unity-text-align: middle-left;
    flex-direction: row;
    flex-shrink: 0;
}

#Header > #Name {
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 8px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: middle-left;
}

.View {
    height: 100%;
}

AbyssRoomInspectorView {
    height: 100%;
}

AbyssRoomCreateToolsView {
}

AbyssRoomListView {
    background-color: rgb(51, 51, 51);
    height: 100%;
}

AbyssRoomListView TextField {
    flex-grow: 1;
}

AbyssRoomListView > Button {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

AbyssRoomListView #unity-text-input {
    width: 100%;
}

.selected {
    border-left-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-top-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
}

AbyssRoomPaletteItemView > #OpenInspectorBtn {
    width: 20px;
    height: 20px;
    background-image: url("project://database/Assets/AbyssRoomEditor/Editor/Resource/EditIcon.png?fileID=2800000&guid=425d9e255dc1670459762137a7658219&type=3#EditIcon");
}

AbyssRoomPaletteItemView {
    flex-direction: row;
    background-color: rgb(70, 70, 70);
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    align-items: center;
}

AbyssRoomPaletteItemView:hover {
    border-left-color: rgb(161, 161, 161);
    border-right-color: rgb(161, 161, 161);
    border-top-color: rgb(161, 161, 161);
    border-bottom-color: rgb(161, 161, 161);
}

AbyssRoomPaletteItemView > #Color {
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-shrink: 0;
}
