#RoomView > VisualElement > #Block {
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgb(33, 33, 33);
    width: 20px;
    height: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#RoomView > VisualElement > #Block:hover {
    border-left-color: rgb(180, 180, 180);
    border-right-color: rgb(180, 180, 180);
    border-top-color: rgb(180, 180, 180);
    border-bottom-color: rgb(180, 180, 180);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
